// Import Font Poppins
/*************** Fonts ***************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*************** Globals ***************/

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

body {
    scroll-behavior: smooth;
    background-color: white;
    color: black;
    font-family: "Geist", sans-serif;
    display: flex;
    flex-direction: column;
}

.dark body {
    background: #1b1b1b;
    color: white;
}

/*************** Container ***************/

.roa-container {
    width: 85%;
    max-width: 1440px;

    @media screen and (max-width: 1000px) {
        width: 90%;
    }

    @media screen and (max-width: 700px) {
        width: 92%;
    }
}

.roa-container-site {
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 100px;
    width: 85%;
    max-width: 1440px;
    height: 100%;

    @media screen and (max-width: 1000px) {
        width: 90%;
    }

    @media screen and (max-width: 700px) {
        width: 92%;
    }
}

/*************** File Input ***************/

input[type="file"]::file-selector-button {
    background: transparent;
    border: none;
    color: black;
}

.dark input[type="file"]::file-selector-button {
    background: transparent;
    border: none;
    color: white;
}

/*************** Checkbox ***************/

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid black;
    background: transparent;
}

.dark input[type="checkbox"] {
    border: 1px solid white;
    background: transparent;
}

input[type="checkbox"]:checked {
    background-color: black;
    border: 1px solid black;
}

.dark input[type="checkbox"]:checked {
    background-color: white;
    border: 1px solid white;
}

input[type="checkbox"]:checked::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGVjay1pY29uIGx1Y2lkZS1jaGVjayI+PHBhdGggZD0iTTIwIDYgOSAxN2wtNS01Ii8+PC9zdmc+");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -1px;
}

.dark input[type="checkbox"]:checked::after{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZWNrLWljb24gbHVjaWRlLWNoZWNrIj48cGF0aCBkPSJNMjAgNiA5IDE3bC01LTUiLz48L3N2Zz4=");
}

/*************** Radio ***************/

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid black;
    background: transparent;
}

.dark input[type="radio"] {
    border: 1px solid white;
    background: transparent;
}

input[type="radio"]:checked::after {
    content: "";
    display: block;
    background: black;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    margin-left: 1.5px;
    margin-top: 1.5px;
}

.dark input[type="radio"]:checked::after {
    background: white;
}

/******************************************/
